<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div>
                <h1 class="text-center">{{data?.name}}</h1>
                <h1 class="text-center">{{data?.id}}</h1>
                <img [src]="data?.image?.large" alt="">                
                
                <div>
                    <span>Coin price</span><span>{{data?.market_data.current_price.usd}}</span>
                    <span>Rank:</span> <span>{{data?.market_cap_rank}}</span>
                </div>

                <h2 [innerHtml]="data?.description?.en.split('.')[0]"></h2>
              

            </div>
        </div>
    </div>
</div>