<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-sm-4 ">
            <h2 class="mt-5 mb-4">Available coin</h2>
            <div *ngFor="let coin of coins " class="mt-1 p-1 ">
                <div class="card" (click)="goDetail(coin)">
                    <a class="card-title p-1" style="cursor:pointer">{{coin.name}}</a>
                    <div class="card-body">
                      {{coin.id}}
                    </div>
                  </div>              
                
            </div>
        </div>
    </div>
</div>